<div class="filtre-container">
	<div class="container-fluid text-center">
		<div class="row">

			<form class="form-inline" id="filtre-form">
				
				<div class="col-md-3">
					<div class="form-group label-floating">
						<label class="control-label" for="marque">Marque</label> <input
							class="form-control" id="marque" type="text">
					</div>
				</div>

				<div class="col-md-3">
					<div class="form-group label-floating">
						<label class="control-label" for="modele">Modéle</label> <input
							class="form-control" id="modele" type="text">
					</div>
				</div>

				<div class="col-md-3">
					<div class="form-group label-floating">
						<label class="control-label" for="piece">Piéce</label> <input
							class="form-control" id="piece" type="text">
					</div>
				</div>

				<div class="col-md-3">
					<div class="form-group label-floating">
						<a href="javascript:void(0)" id="submit" class="btn btn-raised btn-filter">Lancer ma
							recherche</a>
					</div>
				</div>
			</form>

		</div>
	</div>
</div>


